$screenWidth = 375px
$screenHeight = 667px

body
    margin 0
    padding 0
    background #000

    font-family Arial

    *
        box-sizing border-box

.l-screen
    position fixed
    left 50%
    top 50%
    margin-left -0.5 * $screenWidth
    margin-top -0.5 * $screenHeight
    width $screenWidth
    height $screenHeight
    background #fff


