.m-participants
    padding 20px

    .m-participant
        display block
        overflow hidden
        width 100%

        &--header
            font-weight bold

        & > *
            position relative
            float left
            border-bottom 1px solid grey
            height 38px
            padding 10px 0
            text-align right

        &__id
            width 50px

        &__start
            width 200px

        &__finish
            width 200px

        &__pref
            width 100px

        &__shows
            width 80px
