$smallButtonSize = 20px
$mediumButtonSize = 25px
$bigButtonSize = 40px

.m-button
    position relative
    background #fff
    border-radius 50%
    background-position center center
    background-size contain
    background-repeat no-repeat

    &--small
        width $smallButtonSize
        height $smallButtonSize

    &--medium
        width $mediumButtonSize
        height $mediumButtonSize


