@import "help"

$headerHeight = 55px
$footerHeight = 85px
$mainMargins = 10px

$photoTitleHeight = 70px


.m-mainview
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    gradient #ffffff, #f6f7fb

    &__header
        position absolute
        left 0
        top 0
        width 100%
        height $headerHeight

    &__card
        position absolute
        left $mainMargins
        top $headerHeight
        right $mainMargins
        bottom $footerHeight

    &__footer
        position absolute
        left 0
        bottom 0
        width 100%
        height $footerHeight
        text-align center

        &__inner
            position absolute
            margin 0 auto
            top 50%
            left 50%
            transform translateX(-50%)
            width 205px

            > *
                display inline-block
                float left
                transform translateY(-50%)

            .m-button + .m-button
                margin-left 25px


.m-card
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    border 1px solid #e5e5e5
    border-radius 7px
    overflow hidden

    &__photo
        position absolute
        left 0
        top 0
        width 100%
        bottom $photoTitleHeight
        background-position center center
        background-size cover

    &__title
        position absolute
        left 0
        width 100%
        bottom 0
        height $photoTitleHeight
        background #fff

        &__inner
            position absolute
            left 0
            top 50%
            width 100%
            transform translateY(-50%)
            padding 0 2 * $mainMargins

            &__name
                font-size 22px
                font-weight bold

            &__age
                font-size 22px

            &__desc
                margin-top 2px
                font-size 14px
                color $greyColor

            &__interests
                position absolute
                right 1.5 * $mainMargins
                top 50%
                transform translateY(-50%)
                font-size 22px
                color $lightGreyColor

            &__friends
                position absolute
                right 100px
                top 50%
                transform translateY(-50%)
                font-size 22px
                color $pinkColor

