$headerHeight = 40px
$footerHeight = 80px
$mainMargins = 10px

$photoTitleHeight = 40px


transform(t)
    -ms-transform t
    -webkit-transform t
    transform t


.m-mainview
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    background #eee

    color #000

    &__header
        position absolute
        left 0
        top 0
        width 100%
        height $headerHeight
        background #999

    &__card
        position absolute
        left $mainMargins
        top $mainMargins + $headerHeight
        right $mainMargins
        bottom $mainMargins + $footerHeight

    &__footer
        position absolute
        left 0
        bottom 0
        width 100%
        height $footerHeight
        background #999
        text-align center

        &__inner
            position absolute
            margin 0 auto
            top 50%
            left 50%
            transform translateX(-50%)

            > *
                display inline-block
                float left
                transform translateY(-50%)

            .m-button + .m-button
                margin-left 10px


.m-card
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    border 1px solid #ddd
    border-radius 10px
    overflow hidden

    &__photo
        position absolute
        left 0
        top 0
        width 100%
        bottom $photoTitleHeight
        background-position center center
        background-size cover

    &__title
        position absolute
        left 0
        width 100%
        bottom 0
        height $photoTitleHeight
        background #fff

        &__inner
            position absolute
            left 0
            top 50%
            width 100%
            transform translateY(-50%)
            padding 0 1.5 * $mainMargins

            &__name
                font-size 16px
                font-weight bold

            &__age
                font-size 16px

            &__desc
                font-size 12px
                color #888

