.m-info
    td, th
        padding 5px 10px
        text-align right
        background #eee

.m-shows
    margin-top 50px
    padding 10px

    .m-show
        position relative
        background #eee
        height 20px
        margin-left 20px
        margin-bottom 50px

        .result
            position absolute
            left -15px
            width 10px
            height 10px
            top 5px

            &.like
                background #48e8bd

            &.dislike
                background #f94f69

            &.superlike
                background #35bcfc

        .overall
            font-size 12px
            position absolute
            left 100%
            margin-left 5px
            bottom 0
            width 100px
