.m-info
    td, th
        padding 5px 10px
        text-align right
        background #eee

.m-shows
    margin-top 50px
    padding 5px

    .m-show
        position relative
        background #eee
        height 20px
        margin-bottom 50px
        margin-left 40px

        .result
            position absolute
            right -15px
            width 10px
            height 10px
            bottom 1px

            &.like
                background #48e8bd

            &.dislike
                background #f94f69

            &.superlike
                background #35bcfc

        .overall
            font-size 12px
            position absolute
            left 100%
            margin-left 20px
            bottom 0
            width 100px

        .action
            position absolute
            top 15px
            width 1px
            height 20px
            background black
            font-size 10px
            color #666

            &--open
                &:before
                    content ''
                    position absolute
                    bottom 0
                    left 0
                    width 7px
                    height 1px
                    background black

            &--close
                &:before
                    content ''
                    position absolute
                    bottom 0
                    right 0
                    width 7px
                    height 1px
                    background black

            &--next
                height 10px
                &:before
                    content '→'
                    position absolute
                    bottom -10px
                    left -4px
                    font-size 10px

            &--prev
                height 10px
                &:before
                    content '←'
                    position absolute
                    bottom -10px
                    left -4px
                    font-size 10px

        .emotion
            position absolute
            top -15px
            width 1px
            height 20px
            font-size 10px
            color #666
            padding-top 4px

            &--up
                background #2788f3
                &:after
                    content ''
                    position absolute
                    width 5px
                    height 5px
                    left -2px
                    top 0
                    background #2788f3

            &--down
                background #8dbb23
                &:after
                    content ''
                    position absolute
                    width 5px
                    height 5px
                    left -2px
                    bottom 0
                    background #8dbb23

        .profnum
            position absolute
            left -30px
            bottom 0
            font-size 12px
            color blue
            text-decoration underline
            cursor pointer

.m-pview
    position fixed
    right 10px
    top 10px
    width 300px
    bottom 10px
    border 1px solid black
    background rgba(255, 255, 255, .9)
    overflow auto
    font-size 16px
    display none
    padding 5px

    &__close
        position absolute
        right 5px
        top 5px
        font-size 20px
        cursor pointer

    &__photos
        margin-top 10px

        img
            width 100%
